:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;
  text-align: center;
}

#background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: fixed;
  z-index: -1;
  border-radius: 50%;
  border: solid 0.1em #FFF8BC;
  margin: 4em auto;
}

#app {
  justify-content: center;
  align-items: center;
  align-items: center;
}

.nodeContainer {
  justify-content: center;
  align-items: center;
}

.members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.node {
  margin: auto;
  margin-bottom: 3em;
  border-radius: 70%;
  height: 6em;
  width: 6em;
  background-color: #FEC260;
  align-self: center;
}

.member {
  margin-right: min(100px , 4em);
  margin-left: min(100px , 4em);
}

.node a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #FFF;
  font-size: 3.5em;
  font-weight: bold;
  text-decoration: none;
}

.node h2 {
  font-size: 1.6em;
  line-height: 1em;
  color:#A2416B;
  margin: 0.4em;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}


input[type=file] {
  opacity: 0;
  visibility: hidden;
}


button {
  font-size: 1.3em;
  font-weight: 550;
  background-color: #FFF8BC;
  border: none;
  color: #242424;
  transition: all 0.2s ease-out;
  border-radius: 0.5em;
}

/*//////////////////////////////////////////////////////////////////
    [ Popup ]
*/
.intro {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.hideIntro {
  visibility: hidden;
  opacity: 0;
  margin-top: -10%;
  transition: ease-in-out 500ms;
}

.intro-wrapper {
  margin-left : 30%;
  margin-right : 30%;
  margin-top : 1rem;
  padding: 2em;
  background-color: #383638;
  border-radius: 0.5em;
  position: relative;
}

.intro h1 {
  font-size: 3em;
  font-weight: 700;
  color: #E6E0AA;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.desc {
  text-align: left;
}

#logo {
  width: 5rem;
  height: 5rem;
}

.joinRoom {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
}

.showRoom {
  transition: ease-in-out opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.wrapper {
  margin: 10em auto;
  padding: 2em;
  background-color: #383638;
  border-radius: 0.5em;
  width: 30%;
  position: relative;
  transition: all 0.5s ease-out;
}

@media (max-width: 768px) {
  .wrapper {
    width: 70%;
  }

  :root {
    overflow-x: hidden;
  }
}

.wrapper .content {
  max-height: 30%;
  overflow: auto;
}

.wrapper h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: #E6E0AA;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.container {
  border-radius: 1em;
  background-color: #242424;
  padding: 1em;
}

.container label {
  font-size: 1.5em;
  font-weight: 500;
  color: #FFF8BC;
}

input[type="text"] {
  width: 85%;
  border-radius: 1em;
  padding: 0.5em;
  border: solid 0.1em #FFF8BC;
  margin: 0.7em 0;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}

button[type="submit"] {
  width: 70%;
  padding: 0.5em;
  border: none;
  cursor: pointer; 
  font-size: 1.5em;
  font-weight: 500;
}

button:hover {
  background-color: #FEC260;
  color: #242424;
}

button:focus {
  border: #000 solid 0.1em;
}

@keyframes animate-in {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes animate-out {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0);
		opacity: 0;
	}
}

.message {
  position: absolute;
  z-index: 1;
  margin: -6em 0 0 4em;
  border: solid 0.1em #FFF8BC;
  background-color: #AC4425;
  box-shadow: 0.5em 0.5em 1em #000;
  transform-origin: 0% 0%;
  animation: animate-in 300ms ease-in-out;
}

.messageOut {
  animation: animate-out 300ms ease-in-out;
}

.message p {
  margin: 0.4em;
  font-size: 1.1em;
  font-weight: 500;
  color: #FFF8BC;
}

.message span {
  font-weight: 600;
  color: #F0C929;
}

.messageBtn {
  margin: 0.1em;
  font-size: 1.2em;
  font-weight: 800;
}

.createRoom {
  position: absolute;
  z-index: 1;
  right: 1em;
  top: 1em;
  font-size: 1em;
  text-align: end;
}

.createRoom h2 {
  font-size: 1.7em;
  color:#B04674;
  line-height: 1em;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  max-width: 5ch;
  text-align: center;
}

.createRoom span {
  color: #FEC260;
  max-width: 5ch;
}

#createBtn {
  border-radius: 2em;
  font-size: 1.5em;
  font-weight: 530;
}

/*//////////////////////////////////////////////////////////////////
    [ Loading bar ]
*/
:root {
  --dot-diameter: 7em;
  --circle-border-width: 2px;
  --default-color: gainsboro;
  --completion-color: #C55300;
}

.circle-container {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -3.5em;
  width: var(--dot-diameter);
  height: var(--dot-diameter);
  transform: rotate(-90deg);
}

.circle-container__background {
  fill: none;
  stroke-width: var(--circle-border-width);
}

.circle-container__progress {
  fill: none;
  stroke-linecap: round;
  stroke: var(--completion-color);
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: var(--circle-border-width);
  transition: stroke-dashoffset 1s ease-in-out;
  will-change: transform;
}

